.slider-img {
    margin: 20px 0;
    box-shadow: 0 0 20px #e5006a;
}
.logo {
	box-shadow: 0 0 20px #e5006a;
    margin: 40px;
}
h3 {
	color: white;
}


.slider .card {
	width: 80% !important;
}
/*carrusel clientes*/
.responsive {
	padding: 30px;
	background-color: rgba(0,0,0, 0.2);
}
/*carrusel clientes*/
.servicios h3 {
    width: 100%;
    margin-top: 20px;
}
/*fin carrusel clientes*/

.buscador {
	background-color: #f2f2f2;
	padding: 15px;
}

form.buscador {
	background-color: #e0006c;
}

.form-search-container .amd-btn {
border-radius: 25px;
text-align: center;
margin: 10px 20px 4px 114px;
}

.main-footer {
	background-color: #f2f2f2;
	padding: 15px;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 800px;
	}
}

.w-100{
	height: 100%;
	width: 310px;
	margin-top: 10px;
}

.card-img {
	width: 233px;
	height: 100%;
	box-shadow: 0 0 20px #e5006a;
	/* margin-top: 10px; */
}

.buscador select {
margin: 5px;
}

.form-search-container-title {
 margin-bottom: 10px;
}
.form-search-container-title h4{
 text-align: left;
 color: white;
}

.slider {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: flex-start; */
}

.girl-info {
	color: #fff;
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
}
.test { 
	text-align: center;
	display: block;
	width: 100%;
	background: rgba(254,90,203,0.4);
}